*.pyc
VS*
BD*
\#*
*~
*.png
*.pdf
MetaScreener/config.cfg
MetaScreener/external_sw/leadFinder/
MetaScreener/external_sw/ligandScout/
MetaScreener/external_sw/poseview/
MetaScreener/external_sw/scopus/
MetaScreener/external_sw/ChemAxon/
output/
.idea
core.*
*.csv
*.xlsx
*.xls
*.json
*.txt
*.tex
